@model IEnumerable<BibliotecaWeb.Models.Tematica>

@{
    ViewData["Title"] = "Index";
}

<h1>Tematicas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FechaHoraEliminacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td width="50%">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FechaHoraEliminacion)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Id)
            </td>*@
            <td width="50%" align="right">
                <a asp-action="Edit" class= "btn btn-warning"asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" class="btn btn-light" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
