@model IEnumerable<BibliotecaWeb.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRetiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroDevuelto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraEliminacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRetiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLibro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibroDevuelto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraEliminacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libro.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socio.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
